# === FRONTEND ===
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/

# === BACKEND ===
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Eclipse / Spring Tool Suite
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache

# IntelliJ IDEA
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/

# VS Code
backend/.vscode/

# === GENERALES ===
*.log
*.tmp
*.bak
*.swp
.DS_Store